In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [2]:
##multiple linear regression
##y=a+bx1+cx2+dx3

In [4]:
data=pd.read_csv("C:\\Users\\Smita Akolkar\\OneDrive\\Desktop\\Project Data\Home Prices.csv")
data

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [6]:
data.isnull()

    area  bedrooms    age  price
0  False     False  False  False
1  False     False  False  False
2  False      True  False  False
3  False     False  False  False
4  False     False  False  False

In [10]:
import math
median_bedrooms=math.floor(data.bedrooms.median())
median_bedrooms

3

In [12]:
data.bedrooms=data.bedrooms.fillna(median_bedrooms)
data

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [18]:
reg=linear_model.LinearRegression()
reg.fit(data[["area","bedrooms","age"]],data.price)

LinearRegression()

In [23]:
reg.predict([[5000,5,2]])

C:\Users\Smita Akolkar\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([926200.])

In [19]:
reg.coef_

array([   137.25, -26025.  ,  -6825.  ])

In [20]:
reg.intercept_

383724.9999999998

In [21]:
###multiple linear model
383724.9999999998+137.25*5000-26025*5-6825*2

926199.9999999998

In [26]:
##example
#2 yr experience, 9 test score, 6 interview score
#12 yr experience, 10 test score, 10 interview score

In [53]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
import word2number as w2n

In [46]:
df=pd.read_csv("C:\\Users\\Smita Akolkar\\OneDrive\\Desktop\\Project Data\hiring.csv")
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [47]:
df.experience=df.experience.fillna("zero")
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       zero                    8.0                           9      50000
1       zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [48]:
import math
mean_df=math.floor(df["test_score(out of 10)"].mean())
df["test_score(out of 10)"]=df["test_score(out of 10)"].fillna(mean_df)
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       zero                    8.0                           9      50000
1       zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    7.0                           7      72000
7     eleven                    7.0                           8      80000

In [59]:
df.experience=df.experience.apply(w2n.word_to_num)
df

AttributeError: module 'word2number' has no attribute 'word_to_num'

In [61]:
!pip install word2number

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: word2number in c:\users\smita akolkar\appdata\roaming\python\python311\site-packages (1.1)

[notice] A new release of pip is available: 23.0.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [60]:
df.experience=df.experience.apply(w2n.word_to_num)
df

AttributeError: module 'word2number' has no attribute 'word_to_num'